{% extends 'shows/layout.html' %}
{% load static %}

{% block title %}
    MovieTime Cinema
{% endblock %}

{% block body %}
    <h2>Now Playing</h2>

    <div class="row">
    {% for movie in movieList %}
    <div class="col">
        <div class="card text-center">
            <img src="{{ movie.image }}" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}