{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="{% static 'shows/css/styles.css' %}" rel="stylesheet">
    </head>
    <body class="text-bg-dark">
        <header class="text-bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <a class="navbar-brand link-light" href="#">MovieTime Cinema</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link link-light" href="#">Tickets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-light" href="#">Theaters</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-light" href="#">Search</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-light" href="#">Account</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            {% block body %}
            {% endblock body %}
        </div>
        <footer class="container">
            {% block footer %}
            {% endblock footer %}
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>